<h1><%= @restaurant.name %></h1>
<h3>a <%= @restaurant.category.capitalize %> restaurant</h3>

<br>

<p>Address: <%= @restaurant.address %></p>
<p>Phone: <%= @restaurant.phone_number %></p>

<br>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <p><%= review.content %></p>
      <%= review.rating.zero? ? "0 stars" : "â­" * review.rating %> (out of 5)
    </li>
  <% end %>
</ul>

<br>

<div>
  <p>Add a review:</p>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating, as: :select, collection: (0..5), label: "Rating" %>
    <%= f.input :content %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
