<h1><%= @restaurant.name %></h1>
<h3>a <%= @restaurant.category.capitalize %> restaurant</h3>
<br>
<p>Address: <%= @restaurant.address %></p>
<p>Phone: <%= @restaurant.phone_number %></p>

<div><%= link_to "Home", restaurants_path, class: "btn btn-outline-primary" %></div>
